Button {
    -fx-background-color: #1daee2;
    -fx-text-fill: white;
}

Label {
    -fx-font-size: 20px;
}

#requestBox {
    -fx-border-style: solid;
    -fx-border-color: #afafaf;
}

TextArea#htmlOutput, TextArea#cssOutput {
    -fx-padding: 0 10px 0 0;
}